#one{
    height: 700px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: antiquewhite;
}

#two{
    height: 400px;
    width: 200px;
    margin-left:50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}
#three{
    height: 400px;
    width: 200px;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}
img{
   height: 400px;
   width: 200px; 
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
h4{
    color: rgb(39, 119, 39);
    font-size: 30px ;
    margin-top:  10px;
}
 button{
    background-color: rgb(18, 159, 18);
    border-radius: 7px;
    width: 140px;
    color: white;
    height: 30px;
    border: 1px solid rgb(18, 159, 18);

 }